<div class="card form">
  <form class="capsule-form" #capsuleForm="ngForm" (ngSubmit)="onSubmitForm(capsuleForm)">
    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        name="message"
        [(ngModel)]="message"
        id="message"
        placeholder="Écris ton message pour le futur..."
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="date">Date d’ouverture</label>
      <input
        name="launchDate"
        [(ngModel)]="launchDate"
        type="date"
        id="date"
        required>
    </div>

    <button type="submit" [disabled]="capsuleForm.invalid">
      Sceller la capsule
    </button>
  </form>
</div>
